/* CSS Document */
html,body{height:100%;font-family:"Arial Black", Gadget, sans-serif;}

#wraper{position:relative;}

#menu{position:fixed;top:0;left:0;z-index:100;}
#menu_show_hide{width:91px;height:88px;background:#e1a93c url(../imgs/icons_sprite.png) 0px 0px no-repeat;border:0;float:left;}
#menu .target{height:88px;line-height:88px;vertical-align:middle;background:#fff;opacity:0.8;filter:alpha(opacity=80); /* For IE8 and earlier */}
#menu .target a{padding:0 25px;font-size:16px;text-decoration:none;color:#31231D;}

#pages{width:100%;position:absolute;z-index:10;}
#home, #artist, #painting, #cause, #exibition{height:1000px;background-color:#FFF;}

#home{background:none;color:#E0A93B;font-size:138px;padding-top:250px;padding-left:84px;}
#home_img{position:fixed;top:0;left:0;z-index:0;margin:auto;}

#pagetitle{background-color:#FFF;text-align:center;vertical-align:middle;font-size:26px;color:#31231D;height:200px;line-height:200px;}
#photos, #texts{width:50%;height:804px;float:left;}

#texts{color:#FFF;font-size:22px;}
.texts_contents{/*padding:112px 96px;*/margin:40px; width:80%; height:80%; padding:20px; overflow:auto;}
#artist #texts, #exibition #texts{background-color:#31231D;}
#cause #texts{background-color:#E0A93B;}


#footer{height:158px;background-color:#31231D;border-top:9px solid #e1a93c;}